---
# Tasks for OpenTelemetry Demo application

- name: Ensure otel-demo namespace exists
  shell: |
    kubectl get namespace otel-demo || kubectl create namespace otel-demo
  register: otel_ns
  changed_when: "'created' in otel_ns.stdout"

- name: Label otel namespace for no injection
  shell: |
    kubectl label namespace otel-demo oneagent=false

- name: Apply OpenTelemetry Demo manifests
  shell: |
    kubectl -n otel-demo apply -f "{{ role_path }}/files/otel-demo/kubernetes-manifests"
  register: otel_apply
  retries: 10
  delay: 6
  until: otel_apply.rc == 0

- name: Ensure ingress directory exists
  ansible.builtin.file:
    path: "{{ role_path }}/files/otel-demo/kubernetes-manifests/ingress"
    state: directory
    mode: "0755"

- name: Template OpenTelemetry Demo ingress
  ansible.builtin.template:
    src: otel-demo/ingress.yaml.j2
    dest: "{{ role_path }}/files/otel-demo/kubernetes-manifests/ingress/ingress.yaml"
    mode: "0644"

- name: Apply OpenTelemetry Demo ingress
  shell: |
    kubectl apply -f "{{ role_path }}/files/otel-demo/kubernetes-manifests/ingress/ingress.yaml"

- name: Pause for OpenTelemetry Demo deployment
  pause:
    seconds: 60

- name: Count all OpenTelemetry Demo pods
  shell: |
    kubectl -n otel-demo get pods --no-headers | wc -l
  register: otel_pod_count
  retries: 20
  delay: 10
  until: otel_pod_count.stdout | int > 0

- name: Wait for all OpenTelemetry Demo pods to be Running and Ready
  shell: |
    kubectl -n otel-demo get pods -o json \
    | jq '[.items[]
           | select(.status.phase=="Running")
           | select(all(.status.containerStatuses[]; .ready==true))
          ] | length'
  register: otel_ready_count
  retries: 10
  delay: 30
  until: otel_ready_count.stdout | int == (otel_pod_count.stdout | int)
